cloud_id                 = "b1go"
folder_id                = "b1gk"
zone                     = "ru-central1-a"
service_account_key_file = "/home/vlashm/_devops/otus/key.json"
service_account_id       = "aje2"
node_service_account_id  = "aje2"
ssh_username             = "ubuntu"
public_key_path          = "~/.ssh/id_rsa.pub"
v4_cidr                  = "10.0.0.0/16"
image_id_mongo           = "fd82qdhrqunfjq7u4svc"
image_id_gitlab = "fd8hvlnfb66dgavf0e1a"
version_k8s              = "1.19"
app_zone = "vlashm.site."